In [1]:
### Import required packages and set cwd
import numpy as np, pandas as pd, re, os
os.chdir(r"C:\Users\Kai Jing\Desktop\NUS\Business (Accountancy)\NUS BAC\Sem 3.2\DBA3803 - Predictive Analytics in Business\Assignment 1\Datasets")

### Part 1 - Read the first sheet, specifying headers
df = pd.read_excel("TBill-Dows-CPI-STI-UKBirthsDeaths-BitCoin.xlsx",
                   header=0,
                   index_col=0,
                   sheet_name=0)

r = re.compile('^Unnamed: ')
empty_columns = len(list(filter(r.match, list(df.columns))))/len(list(df.columns))
target_empty_columns = 0.2
skip_rows = 0

## Keep skipping rows on the top of the sheet if the there are a lot of empty column names
while empty_columns >= target_empty_columns:
    skip_rows += 1
    
    df = pd.read_excel("TBill-Dows-CPI-STI-UKBirthsDeaths-BitCoin.xlsx",
                       skiprows=skip_rows,
                       header=0,
                       index_col=0,
                       sheet_name=0)
    
    empty_columns = len(list(filter(r.match, list(df.columns))))/len(list(df.columns))

df.head()

,Weekday (Monday =1),4 Weeks Bank Discount,4 Weeks Coupon Equivalent,13 Weeks Bank Discount,13 Weeks Coupon Equivalent,26 Weeks Bank Discount,26 Weeks Coupon Equivalent,52 Weeks Bank Discount,52 Weeks Coupon Equivalent,Dow Jones IA Open,...,England & Wales Live Births,England & Wales Deaths,Bitcoin Open,Bitcoin High,Bitcoin Low,CoinMarketCap Bitcoin Close,CoinMarketCap Bitcoin Volume,Bitcoin Market Cap,Bitcoinity Bitcoin Price,Bitcoinity Bitcoin Volume
Date,,,,,,,,,,,,,,,,,,,,,
1970-01-01,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-02,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-03,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-04,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-05,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
### Part 2 - Specify target variable
target_variable = 'Bitcoinity Bitcoin Price'

In [3]:
### Part 3 - Use df.drop() to remove all columns with names containing 'Bitcoin', except for the target variable
# print(list(df.columns))

for column_name in list(df.columns):
    if 'Bitcoin' in column_name:
        if column_name == target_variable:
            continue
        else:
            df.drop(column_name, axis=1, inplace=True)

print(list(df.columns))

['Weekday (Monday =1)', '4 Weeks Bank Discount', '4 Weeks Coupon Equivalent', '13 Weeks Bank Discount', '13 Weeks Coupon Equivalent', '26 Weeks Bank Discount', '26 Weeks Coupon Equivalent', '52 Weeks Bank Discount', '52 Weeks Coupon Equivalent', 'Dow Jones IA Open', 'Dow Jones IA High', 'Dow Jones IA Low', 'Dow Jones IA Close', 'Consumer Price Index-Urban, CPI-U', 'Inflation', 'ST Index Open', 'ST Index High', 'ST Index Low', 'ST Index Close', 'England & Wales Live Births', 'England & Wales Deaths', 'Bitcoinity Bitcoin Price']

In [4]:
### Part 4 - Remove the 2 columns 'Consumer Price Index-Urban, CPI-U' and 'Inflation'
remove_columns = ['Consumer Price Index-Urban, CPI-U', 'Inflation']

df.drop(columns=remove_columns,
        axis=1,
        inplace=True)

print(list(df.columns))

['Weekday (Monday =1)', '4 Weeks Bank Discount', '4 Weeks Coupon Equivalent', '13 Weeks Bank Discount', '13 Weeks Coupon Equivalent', '26 Weeks Bank Discount', '26 Weeks Coupon Equivalent', '52 Weeks Bank Discount', '52 Weeks Coupon Equivalent', 'Dow Jones IA Open', 'Dow Jones IA High', 'Dow Jones IA Low', 'Dow Jones IA Close', 'ST Index Open', 'ST Index High', 'ST Index Low', 'ST Index Close', 'England & Wales Live Births', 'England & Wales Deaths', 'Bitcoinity Bitcoin Price']

In [5]:
### Part 5 - Use 'import re', then df.rename() and re.sub('\W',) to change all non-alphanumeric characters 
### in the variable names to "_"
import re

rename_columns = {}

for column_name in list(df.columns):
    ## Go through each column name and check if it contains non-alphanumeric
    if re.search('\W', column_name):
        ## Remove non-alphanumeric at the start or end of the column names or replace with '_' if in the middle
        new_name = re.sub('^\W+', '', column_name)
        new_name = re.sub('\W+$', '', new_name)
        rename_columns.update({column_name: re.sub('\W+', '_', new_name)})

df.rename(columns=rename_columns,
          inplace=True)

print(list(df.columns))

## Update the target variable formatting (remove non-alphanumeric at start & end of string, else replace with '_')
target_variable = re.sub('^\W+', '', target_variable)
target_variable = re.sub('\W+$', '', target_variable)
target_variable = re.sub('\W+', '_', target_variable)

['Weekday_Monday_1', '4_Weeks_Bank_Discount', '4_Weeks_Coupon_Equivalent', '13_Weeks_Bank_Discount', '13_Weeks_Coupon_Equivalent', '26_Weeks_Bank_Discount', '26_Weeks_Coupon_Equivalent', '52_Weeks_Bank_Discount', '52_Weeks_Coupon_Equivalent', 'Dow_Jones_IA_Open', 'Dow_Jones_IA_High', 'Dow_Jones_IA_Low', 'Dow_Jones_IA_Close', 'ST_Index_Open', 'ST_Index_High', 'ST_Index_Low', 'ST_Index_Close', 'England_Wales_Live_Births', 'England_Wales_Deaths', 'Bitcoinity_Bitcoin_Price']

In [6]:
### Part 6 - Any name beginning with a digit (i.e., a numeral) needs to be prepended by '_'
prepend_digits = {}

for column_name in list(df.columns):
    if re.match('\d', column_name[0]):
        new_name = '_'+column_name
        prepend_digits.update({column_name: new_name})

df.rename(columns=prepend_digits,
          inplace=True)

print(list(df.columns))

## Update the target variable formatting (prepend if first char is a digit)
if re.match('\d', target_variable[0]):
    target_variable = '_'+target_variable

['Weekday_Monday_1', '_4_Weeks_Bank_Discount', '_4_Weeks_Coupon_Equivalent', '_13_Weeks_Bank_Discount', '_13_Weeks_Coupon_Equivalent', '_26_Weeks_Bank_Discount', '_26_Weeks_Coupon_Equivalent', '_52_Weeks_Bank_Discount', '_52_Weeks_Coupon_Equivalent', 'Dow_Jones_IA_Open', 'Dow_Jones_IA_High', 'Dow_Jones_IA_Low', 'Dow_Jones_IA_Close', 'ST_Index_Open', 'ST_Index_High', 'ST_Index_Low', 'ST_Index_Close', 'England_Wales_Live_Births', 'England_Wales_Deaths', 'Bitcoinity_Bitcoin_Price']

In [7]:
### Part 7 - Delete all rows with any missing value, via df.dropna()
df.dropna(axis=0,
          how='any',
          inplace=True)

df.reset_index(drop=True,
               inplace=True)

df.head()

,Weekday_Monday_1,_4_Weeks_Bank_Discount,_4_Weeks_Coupon_Equivalent,_13_Weeks_Bank_Discount,_13_Weeks_Coupon_Equivalent,_26_Weeks_Bank_Discount,_26_Weeks_Coupon_Equivalent,_52_Weeks_Bank_Discount,_52_Weeks_Coupon_Equivalent,Dow_Jones_IA_Open,Dow_Jones_IA_High,Dow_Jones_IA_Low,Dow_Jones_IA_Close,ST_Index_Open,ST_Index_High,ST_Index_Low,ST_Index_Close,England_Wales_Live_Births,England_Wales_Deaths,Bitcoinity_Bitcoin_Price
0,1,0.15,0.15,0.17,0.17,0.20,0.20,0.26,0.26,10098.12,10187.28,10073.68,10154.43,2936.74,2957.40,2932.12,2945.42,2094.0,1212,0.086792
1,2,0.16,0.16,0.16,0.16,0.19,0.19,0.25,0.25,10151.48,10236.40,10007.76,10229.96,2949.60,2955.12,2942.88,2948.61,2107.0,1254,0.077999
2,3,0.16,0.16,0.16,0.16,0.19,0.19,0.25,0.25,10226.02,10265.54,10065.50,10120.53,2953.12,2958.61,2926.09,2926.09,2110.0,1156,0.070463
3,4,0.15,0.15,0.16,0.16,0.20,0.20,0.25,0.25,10121.81,10363.24,10121.81,10322.30,2930.96,2955.67,2928.46,2955.67,2163.0,1134,0.064120
4,5,0.15,0.15,0.16,0.16,0.20,0.20,0.25,0.25,10321.16,10441.95,10287.48,10424.62,2972.55,2979.45,2963.10,2973.47,2172.0,1136,0.061780

In [8]:
### Part 8 - Create an empty dataframe using pd.DataFrame() with no argument
df_corr = pd.DataFrame()

In [9]:
### Part 9 - Use loc[x, y] on the dataframe created above to contain the correlation of x & y, 
### for all Xs' correlations with the target variable
# df_corr = abs(df.corr()).loc[:,target_variable].to_frame()

df_corr = df_corr.append(df.corr())

df_corr = df_corr.loc[:,target_variable].to_frame()

df_corr.head()

                             Bitcoinity_Bitcoin_Price
Weekday_Monday_1                            -0.001047
_4_Weeks_Bank_Discount                       0.365366
_4_Weeks_Coupon_Equivalent                   0.366404
_13_Weeks_Bank_Discount                      0.414253
_13_Weeks_Coupon_Equivalent                  0.415731

In [10]:
### Part 10 - Sort your dataframe by the absolute values of the correlations, in descending ordere, and print it
df_corr.drop(target_variable, 
             axis=0,
             inplace=True)

df_corr = abs(df_corr)

df_corr.sort_values(by=[target_variable],
                    ascending=False,
                    inplace=True)

print(df_corr)

                             Bitcoinity_Bitcoin_Price
Dow_Jones_IA_Low                             0.793357
Dow_Jones_IA_Open                            0.792719
Dow_Jones_IA_Close                           0.792663
Dow_Jones_IA_High                            0.792340
_52_Weeks_Coupon_Equivalent                  0.450096
_52_Weeks_Bank_Discount                      0.447331
_26_Weeks_Coupon_Equivalent                  0.439936
_26_Weeks_Bank_Discount                      0.436302
_13_Weeks_Coupon_Equivalent                  0.415731
_13_Weeks_Bank_Discount                      0.414253
_4_Weeks_Coupon_Equivalent                   0.366404
_4_Weeks_Bank_Discount                       0.365366
England_Wales_Live_Births                    0.325489
England_Wales_Deaths                         0.132494
ST_Index_High                                0.039154
ST_Index_Close                               0.035085
ST_Index_Open                                0.034285
ST_Index_Low                                 0.030092
Weekday_Monday_1                             0.001047

In [11]:
### Part 11 - Create a list of the variable names using list(df), then move y's name to the front
col_names = list(df)
col_names.insert(0, col_names.pop(col_names.index(target_variable)))

print(col_names)

['Bitcoinity_Bitcoin_Price', 'Weekday_Monday_1', '_4_Weeks_Bank_Discount', '_4_Weeks_Coupon_Equivalent', '_13_Weeks_Bank_Discount', '_13_Weeks_Coupon_Equivalent', '_26_Weeks_Bank_Discount', '_26_Weeks_Coupon_Equivalent', '_52_Weeks_Bank_Discount', '_52_Weeks_Coupon_Equivalent', 'Dow_Jones_IA_Open', 'Dow_Jones_IA_High', 'Dow_Jones_IA_Low', 'Dow_Jones_IA_Close', 'ST_Index_Open', 'ST_Index_High', 'ST_Index_Low', 'ST_Index_Close', 'England_Wales_Live_Births', 'England_Wales_Deaths']

In [12]:
### Part 12 - Use the list above to make the model equation for statsmodel ols
model_equation = ' + '.join(col_names).replace('+', '~', 1)

print(model_equation)

Bitcoinity_Bitcoin_Price ~ Weekday_Monday_1 + _4_Weeks_Bank_Discount + _4_Weeks_Coupon_Equivalent + _13_Weeks_Bank_Discount + _13_Weeks_Coupon_Equivalent + _26_Weeks_Bank_Discount + _26_Weeks_Coupon_Equivalent + _52_Weeks_Bank_Discount + _52_Weeks_Coupon_Equivalent + Dow_Jones_IA_Open + Dow_Jones_IA_High + Dow_Jones_IA_Low + Dow_Jones_IA_Close + ST_Index_Open + ST_Index_High + ST_Index_Low + ST_Index_Close + England_Wales_Live_Births + England_Wales_Deaths

In [13]:
### Part 13 - Output the summary for the regression of Y on all Xs using ols
from statsmodels.formula.api import ols
regression_output = ols(model_equation, df).fit()

regression_output.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                            Results: Ordinary least squares
=======================================================================================
Model:                  OLS                          Adj. R-squared:         0.742
Dependent Variable:     Bitcoinity_Bitcoin_Price     AIC:                    19676.1937
Date:                   2020-02-09 19:29             BIC:                    19783.2554
No. Observations:       1561                         Log-Likelihood:         -9818.1
Df Model:               19                           F-statistic:            237.7
Df Residuals:           1541                         Prob (F-statistic):     0.00
R-squared:              0.746                        Scale:                  17227.
---------------------------------------------------------------------------------------
                               Coef.     Std.Err.    t    P>|t|     [0.025     0.975]
---------------------------------------------------------------------------------------
Intercept                      197.6783  120.8100  1.6363 0.1020    -39.2911   434.6477
Weekday_Monday_1                 5.3524    2.5943  2.0631 0.0393      0.2636    10.4412
_4_Weeks_Bank_Discount      -10870.2639 4177.3757 -2.6022 0.0094 -19064.2057 -2676.3221
_4_Weeks_Coupon_Equivalent   10368.4697 4152.2675  2.4971 0.0126   2223.7779 18513.1615
_13_Weeks_Bank_Discount      11265.5793 2306.1956  4.8849 0.0000   6741.9660 15789.1926
_13_Weeks_Coupon_Equivalent  -9027.8074 2229.1346 -4.0499 0.0001 -13400.2652 -4655.3497
_26_Weeks_Bank_Discount        931.8146 3160.8871  0.2948 0.7682  -5268.2800  7131.9093
_26_Weeks_Coupon_Equivalent  -1307.1937 3122.4507 -0.4186 0.6755  -7431.8951  4817.5077
_52_Weeks_Bank_Discount       -336.1595 2142.7668 -0.1569 0.8754  -4539.2065  3866.8875
_52_Weeks_Coupon_Equivalent   -456.3270 2112.0030 -0.2161 0.8290  -4599.0307  3686.3766
Dow_Jones_IA_Open                0.0396    0.0666  0.5943 0.5524     -0.0911     0.1702
Dow_Jones_IA_High                0.1137    0.0818  1.3892 0.1650     -0.0468     0.2741
Dow_Jones_IA_Low                 0.0293    0.0730  0.4017 0.6879     -0.1138     0.1724
Dow_Jones_IA_Close              -0.0847    0.0725 -1.1687 0.2427     -0.2268     0.0575
ST_Index_Open                    0.6640    0.4527  1.4666 0.1427     -0.2240     1.5520
ST_Index_High                   -1.7761    0.5473 -3.2454 0.0012     -2.8496    -0.7027
ST_Index_Low                     0.1342    0.4959  0.2706 0.7867     -0.8386     1.1070
ST_Index_Close                   0.6891    0.4720  1.4599 0.1445     -0.2367     1.6149
England_Wales_Live_Births       -0.1516    0.0383 -3.9622 0.0001     -0.2266    -0.0765
England_Wales_Deaths            -0.1098    0.0235 -4.6806 0.0000     -0.1558    -0.0638
---------------------------------------------------------------------------------------
Omnibus:                     423.376             Durbin-Watson:                0.101
Prob(Omnibus):               0.000               Jarque-Bera (JB):             1237.451
Skew:                        1.377               Prob(JB):                     0.000
Kurtosis:                    6.382               Condition No.:                58448757
=======================================================================================
* The condition number is large (6e+07). This might indicate             strong
multicollinearity or other numerical problems.
"""

In [14]:
### Part 14 - Use dir() to find out how to extract Xs' t-statistics from the regression output 
### into a single-column dataframe
print(dir(regression_output))

df_tvalues = regression_output.tvalues.rename('t-statistics').to_frame()

df_tvalues.head()

['HC0_se', 'HC1_se', 'HC2_se', 'HC3_se', '_HCCM', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_cache', '_data_attr', '_get_robustcov_results', '_is_nested', '_wexog_singular_values', 'aic', 'bic', 'bse', 'centered_tss', 'compare_f_test', 'compare_lm_test', 'compare_lr_test', 'condition_number', 'conf_int', 'conf_int_el', 'cov_HC0', 'cov_HC1', 'cov_HC2', 'cov_HC3', 'cov_kwds', 'cov_params', 'cov_type', 'df_model', 'df_resid', 'eigenvals', 'el_test', 'ess', 'f_pvalue', 'f_test', 'fittedvalues', 'fvalue', 'get_influence', 'get_prediction', 'get_robustcov_results', 'initialize', 'k_constant', 'llf', 'load', 'model', 'mse_model', 'mse_resid', 'mse_total', 'nobs', 'normalized_cov_params', 'outlier_test', 'params', 'predict', 'pvalues', 'remove_data', 'resid', 'resid_pearson', 'rsquared', 'rsquared_adj', 'save', 'scale', 'ssr', 'summary', 'summary2', 't_test', 't_test_pairwise', 'tvalues', 'uncentered_tss', 'use_t', 'wald_test', 'wald_test_terms', 'wresid']

                            t-statistics
Intercept                       1.636274
Weekday_Monday_1                2.063112
_4_Weeks_Bank_Discount         -2.602175
_4_Weeks_Coupon_Equivalent      2.497062
_13_Weeks_Bank_Discount         4.884919

In [15]:
### Part 15 - Sort your dataframe by the absolute values of the t-statistics, in descending order, and print it
df_tvalues.drop('Intercept',
                axis=0,
                inplace=True)

df_tvalues = abs(df_tvalues)

df_tvalues.sort_values(by=['t-statistics'],
                       ascending=False,
                       inplace=True)

print(df_tvalues)

                             t-statistics
_13_Weeks_Bank_Discount          4.884919
England_Wales_Deaths             4.680616
_13_Weeks_Coupon_Equivalent      4.049916
England_Wales_Live_Births        3.962177
ST_Index_High                    3.245397
_4_Weeks_Bank_Discount           2.602175
_4_Weeks_Coupon_Equivalent       2.497062
Weekday_Monday_1                 2.063112
ST_Index_Open                    1.466650
ST_Index_Close                   1.459932
Dow_Jones_IA_High                1.389191
Dow_Jones_IA_Close               1.168659
Dow_Jones_IA_Open                0.594286
_26_Weeks_Coupon_Equivalent      0.418644
Dow_Jones_IA_Low                 0.401734
_26_Weeks_Bank_Discount          0.294795
ST_Index_Low                     0.270630
_52_Weeks_Coupon_Equivalent      0.216064
_52_Weeks_Bank_Discount          0.156881

In [16]:
### Part 16 - List the names of the sorted variables for correlation (Step 10) and the names of the sorted variables 
### for regression (Step 15), side by side
df_variables = pd.DataFrame(data={'Correlation': list(df_corr.index), 'Regression': list(df_tvalues.index)})

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_variables)

                    Correlation                   Regression
0              Dow_Jones_IA_Low      _13_Weeks_Bank_Discount
1             Dow_Jones_IA_Open         England_Wales_Deaths
2            Dow_Jones_IA_Close  _13_Weeks_Coupon_Equivalent
3             Dow_Jones_IA_High    England_Wales_Live_Births
4   _52_Weeks_Coupon_Equivalent                ST_Index_High
5       _52_Weeks_Bank_Discount       _4_Weeks_Bank_Discount
6   _26_Weeks_Coupon_Equivalent   _4_Weeks_Coupon_Equivalent
7       _26_Weeks_Bank_Discount             Weekday_Monday_1
8   _13_Weeks_Coupon_Equivalent                ST_Index_Open
9       _13_Weeks_Bank_Discount               ST_Index_Close
10   _4_Weeks_Coupon_Equivalent            Dow_Jones_IA_High
11       _4_Weeks_Bank_Discount           Dow_Jones_IA_Close
12    England_Wales_Live_Births            Dow_Jones_IA_Open
13         England_Wales_Deaths  _26_Weeks_Coupon_Equivalent
14                ST_Index_High             Dow_Jones_IA_Low
15               ST_Index_Close      _26_Weeks_Bank_Discount
16                ST_Index_Open                 ST_Index_Low
17                 ST_Index_Low  _52_Weeks_Coupon_Equivalent
18             Weekday_Monday_1      _52_Weeks_Bank_Discount

In [17]:
### Part 17 - Use '#' to write a short paragraph on what you discover about the relationship between correlation 
### and regression in Step 16

# By comparing the independent variables from the correlation and regression results, we observe that when variables 
# are ranked on top of the sorted list of variables for correlation (such as the 4 DJIA indicators), they tend to 
# be ranked lower on the sorted list for regression (DJIA variables fall in the range of 10th to 14th variable).
# The same trend can be seen for most other variables such as the 52, 26, 13 and 4 week coupon equivalents and 
# bank discounts, except for ST_Index_Low and Weekday_Moday_1. Hence, we can say that there is an observation of
# a weak negative correlation between the sorted variables when comparing the absolute strength of their correlation
# with the target variable and the absolute values of their t-value statistics.

In [18]:
### Part 18 - Repeat Steps 1 to 16 using a .csv dataset you found (not one already uploaded onto LumiNUS Files), 
### which must have at least 1000 rows and 10 Xs (plus y)

### Data Source: https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009

### Import required packages and set cwd
import numpy as np, pandas as pd, re, os
os.chdir(r"C:\Users\Kai Jing\Desktop\NUS\Business (Accountancy)\NUS BAC\Sem 3.2\DBA3803 - Predictive Analytics in Business\Assignment 1\Datasets")

### Part 1 - Read the first sheet, specifying headers
df = pd.read_csv("winequality-red_linearRegression.csv",
                 header=0)

r = re.compile('^Unnamed: ')

## Find the proportion of empty columns
empty_columns = len(list(filter(r.match, list(df.columns))))/len(list(df.columns))
target_empty_columns = 0.2

skip_rows = 0

## Keep skipping rows on the top of the sheet if the there are a lot of empty column names
while empty_columns >= target_empty_columns:
    skip_rows += 1
    
    df = pd.read_csv("e0200936 ZhouKaiJing 3803 Assign1.csv",
                     skiprows=skip_rows,
                     header=0)
    
    empty_columns = len(list(filter(r.match, list(df.columns))))/len(list(df.columns))

### Part 2 - Specify target variable
target_variable = 'quality'

### *** Part 3 and 4 cleaning steps are removed as data acquired does not require further cleaning ***

### Part 3 - Use df.drop() to remove all columns with names containing 'Bitcoin', except for the target variable
# print(list(df.columns))

# for column_name in list(df.columns):
#     if 'Bitcoin' in column_name:
#         if column_name == target_variable:
#             continue
#         else:
#             df.drop(column_name, axis=1, inplace=True)

# print(list(df.columns))

### Part 4 - Remove the 2 columns 'Consumer Price Index-Urban, CPI-U' and 'Inflation'
# print(df['Sector'].value_counts())
# remove_columns = ['Sector', 'Class'] + list(empty_values.index)[:10]

# df.drop(columns=remove_columns,
#         axis=1,
#         inplace=True)

# print(list(df.columns))

### Part 5 - Use 'import re', then df.rename() and re.sub('\W',) to change all non-alphanumeric characters 
### in the variable names to "_"
import re

rename_columns = {}

for column_name in list(df.columns):
    ## Go through each column name and check if it contains non-alphanumeric
    if re.search('\W', column_name):
        ## Remove non-alphanumeric at the start or end of the column names or replace with '_' if in the middle
        new_name = re.sub('^\W+', '', column_name)
        new_name = re.sub('\W+$', '', new_name)
        rename_columns.update({column_name: re.sub('\W+', '_', new_name)})

df.rename(columns=rename_columns,
          inplace=True)

print(list(df.columns))

## Update the target variable formatting (remove non-alphanumeric at start & end of string, else replace with '_')
target_variable = re.sub('^\W+', '', target_variable)
target_variable = re.sub('\W+$', '', target_variable)
target_variable = re.sub('\W+', '_', target_variable)

### Part 6 - Any name beginning with a digit (i.e., a numeral) needs to be prepended by '_'
prepend_digits = {}

for column_name in list(df.columns):
    ## Check if first character of cleaned column name if digit and prepend with '_' if it is
    if re.match('\d', column_name[0]):
        new_name = '_'+column_name
        prepend_digits.update({column_name: new_name})

df.rename(columns=prepend_digits,
          inplace=True)

print(list(df.columns))

## Update the target variable formatting (prepend if first char is a digit)
if re.match('\d', target_variable[0]):
    target_variable = '_'+target_variable

### Part 7 - Delete all rows with any missing value, via df.dropna()
df.dropna(axis=0,
          how='any',
          inplace=True)

df.reset_index(drop=True,
               inplace=True)

print(df.shape)

### Part 8 - Create an empty dataframe using pd.DataFrame() with no argument
df_corr = pd.DataFrame()

### Part 9 - Use loc[x, y] on the dataframe created above to contain the correlation of x & y, 
### for all Xs' correlations with the target variable
df_corr = df_corr.append(df.corr())

df_corr = df_corr.loc[:,target_variable].to_frame()

df_corr.head()

### Part 10 - Sort your dataframe by the absolute values of the correlations, in descending ordere, and print it
df_corr.drop(target_variable, 
             axis=0,
             inplace=True)

df_corr = abs(df_corr)

df_corr.sort_values(by=[target_variable],
                    ascending=False,
                    inplace=True)

print(df_corr)

### Part 11 - Create a list of the variable names using list(df), then move y's name to the front
col_names = list(df)
col_names.insert(0, col_names.pop(col_names.index(target_variable)))

print(col_names)

### Part 12 - Use the list above to make the model equation for statsmodel ols
model_equation = ' + '.join(col_names).replace('+', '~', 1)

print(model_equation)

### Part 13 - Output the summary for the regression of Y on all Xs using ols
from statsmodels.formula.api import ols

regression_output = ols(model_equation, df).fit()

regression_output.summary2()

### Part 14 - Use dir() to find out how to extract Xs' t-statistics from the regression output 
### into a single-column dataframe
print(dir(regression_output))

df_tvalues = regression_output.pvalues.rename('t-statistics').to_frame()

df_tvalues.head()

### Part 15 - Sort your dataframe by the absolute values of the t-statistics, in descending order, and print it
df_tvalues.drop('Intercept',
                axis=0,
                inplace=True)

df_tvalues = abs(df_tvalues)

df_tvalues.sort_values(by=['t-statistics'],
                       ascending=False,
                       inplace=True)

df_tvalues

print(df_tvalues)

### Part 16 - List the names of the sorted variables for correlation (Step 10) and the names of the sorted variables 
### for regression (Step 15), side by side
df_variables = pd.DataFrame(data={'Correlation': list(df_corr.index), 'Regression': list(df_tvalues.index)})

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_variables)

['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']
['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']
(1599, 12)
                       quality
alcohol               0.476166
volatile_acidity      0.390558
sulphates             0.251397
citric_acid           0.226373
total_sulfur_dioxide  0.185100
density               0.174919
chlorides             0.128907
fixed_acidity         0.124052
pH                    0.057731
free_sulfur_dioxide   0.050656
residual_sugar        0.013732
['quality', 'fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density', 'pH', 'sulphates', 'alcohol']
quality ~ fixed_acidity + volatile_acidity + citric_acid + residual_sugar + chlorides + free_sulfur_dioxide + total_sulfur_dioxide + density + pH + sulphates + alcohol
['HC0_se', 'HC1_se', 'HC2_se', 'HC3_se', '_HCCM', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_cache', '_data_attr', '_get_robustcov_results', '_is_nested', '_wexog_singular_values', 'aic', 'bic', 'bse', 'centered_tss', 'compare_f_test', 'compare_lm_test', 'compare_lr_test', 'condition_number', 'conf_int', 'conf_int_el', 'cov_HC0', 'cov_HC1', 'cov_HC2', 'cov_HC3', 'cov_kwds', 'cov_params', 'cov_type', 'df_model', 'df_resid', 'eigenvals', 'el_test', 'ess', 'f_pvalue', 'f_test', 'fittedvalues', 'fvalue', 'get_influence', 'get_prediction', 'get_robustcov_results', 'initialize', 'k_constant', 'llf', 'load', 'model', 'mse_model', 'mse_resid', 'mse_total', 'nobs', 'normalized_cov_params', 'outlier_test', 'params', 'predict', 'pvalues', 'remove_data', 'resid', 'resid_pearson', 'rsquared', 'rsquared_adj', 'save', 'scale', 'ssr', 'summary', 'summary2', 't_test', 't_test_pairwise', 'tvalues', 'uncentered_tss', 'use_t', 'wald_test', 'wald_test_terms', 'wresid']
                      t-statistics
density               4.086079e-01
fixed_acidity         3.356528e-01
residual_sugar        2.764960e-01
citric_acid           2.149942e-01
free_sulfur_dioxide   4.474495e-02
pH                    3.100189e-02
chlorides             8.373953e-06
total_sulfur_dioxide  8.004610e-06
sulphates             2.127228e-15
volatile_acidity      9.872361e-19
alcohol               1.123029e-24

             Correlation            Regression
0                alcohol               density
1       volatile_acidity         fixed_acidity
2              sulphates        residual_sugar
3            citric_acid           citric_acid
4   total_sulfur_dioxide   free_sulfur_dioxide
5                density                    pH
6              chlorides             chlorides
7          fixed_acidity  total_sulfur_dioxide
8                     pH             sulphates
9    free_sulfur_dioxide      volatile_acidity
10        residual_sugar               alcohol

In [19]:
### Part 19 - Use '#' to repeat Step 17 for your dataset

# The dataset I have acquired for analysis contains several variables such as alcohol, density, and pH, of which we
# can use to determine how these variables affect the quality of wine across different types of wine.

# When comparing the independent variables from the correlation and regression results, we observe that the higher
# a variable is ranked on the sorted correlation list of variables (by absolute correlation values), the lower 
# they are likely to be found on the sorted regression list of variables (sorted by absolute values). This includes 
# variables such as alcohol, volatile_acidity, sulphates and residual_sugar, which are found at the opposite ends of
# both variable lists. The remaining variables are all found in the middle of both lists. Hence, we can make the
# observation that there is a negative correlation between the absolute strength of correlation and the absolute
# value of the t-statistics for these variables.

In [20]:
### Part 20 - Submit your dataset

# Refer to "e0200936 Zhou Kai Jing 3803 Assign1.csv"
# Data Source: https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009